<h1>
  タスク<%= @task.id %>に関する詳細ページ
</h1>

<table class="table table-bordered">
  <tr>
    <th>id</th>
    <td>
      <%= @task.id %>
    </td>
  </tr>
  
  <tr>
    <th>タスク</th>
    <td>
      <%= @task.content %>
    </td>
  </tr>
  
  <tr>
    <th>ステータス</th>
    <td>
      <%= @task.status %>
    </td>
  </tr>
</table>

<% if current_user == @task.id %>
  <%= link_to "編集", edit_task_url(@task.id), class: 'btn btn-default' %>
  <%= link_to "削除", @task, method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: 'btn btn-danger' %>
<% end %>